@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);

#gorillaPulse, #gorillaPulse.emit, #gorillaWidget, #gorillaBox, #gorillaForm, #gorillaForm input,  #gorillaForm button, #gorillaLabel, #gorillaBar, #gorillaBarTxt, #gorillaForm select#gorillaFormService {
	background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: no-repeat;
    border-color: black;
    border-style: none;
    border-width: medium;
    clear: none;
    clip: auto;
    color: #000;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: block; /*inline;*/
    float: none;
    font-family: 'Cabin', serif;
    font-size: inherit;
    font-style: inherit;
    font-variant: normal;
    font-weight: inherit;
    height: auto;
    letter-spacing: normal;
    line-height: inherit;
    list-style-type: inherit;
    list-style-position: inside;
    list-style-image: none;
    margin: 0;
    max-height: none;
    max-width: none;
    outline: invert none medium;
    overflow: visible;
    padding: 0;
    position: static;
    quotes: "" "";
    table-layout: auto;
    text-align: inherit;
    text-decoration: inherit;
    text-transform: none;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    width: auto;
    word-spacing: normal;
    z-index: auto;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    opacity: 1;

    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
	box-sizing: border-box;
}

#gorillaForm .intl-tel-input select{
	background-attachment: scroll;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: no-repeat;
    border-color: black;
    border-style: none;
    border-width: medium;
    clear: none;
    clip: auto;
    color: #000;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: block; /*inline;*/
    float: none;
    font-family: 'Cabin', serif;
    font-size: inherit;
    font-style: inherit;
    font-variant: normal;
    font-weight: inherit;
    letter-spacing: normal;
    line-height: inherit;
    list-style-type: inherit;
    list-style-position: inside;
    list-style-image: none;
    margin: 0;
    max-height: none;
    max-width: none;
    outline: invert none medium;
    overflow: visible;
    padding: 0;
    quotes: "" "";
    table-layout: auto;
    text-align: inherit;
    text-decoration: inherit;
    text-transform: none;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
	box-sizing: border-box;
}

#gorillaBT{
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

#gorillaPulse{
	width: 0px;
	height: 0px;
	border: 0px solid #FFF;
	position: fixed;
	z-index: 998;
	bottom: 0px;
	right: 0px;
	transition: all 1s;
	border-radius: 100%;
}

#gorillaPulse.emit{
	-webkit-animation: pulse 2s;
	animation: pulse 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pulse {
    0% { width: 60px; height: 60px; border: 2px solid #4067CB; bottom: 10px; right: 10px; opacity: 1;}
    100% {width: 120px; height: 120px; border: 0px solid #4067CB; bottom: -25px; right: -25px;}
}
/* Standard syntax */
@keyframes pulse {
    0% { width: 60px; height: 60px; border: 2px solid #4067CB; bottom: 10px; right: 10px; opacity: 1;}
    100% {width: 120px; height: 120px; border: 0px solid #4067CB; bottom: -25px; right: -25px;}
}

#gorillaWidget{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background: #4067CB;
	z-index: 1000;
	transition: all 1s;
	overflow: hidden;
	background-image: url('https://8d69a4badb4c0e3cd487-efd95a2de0a33cb5b6fcd4ec94d1740c.ssl.cf2.rackcdn.com/img/white-phone.png');
    background-repeat: no-repeat;
    background-position: center;
	background-size: 30px;
	transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
}

#gorillaWidget.a-gorilla-loading{
	width: 1px;
	height: 1px;
	bottom: 39px;
	right: 39px;
	background-size: 1px;
}

#gorillaWidget.a-gorilla-clicked{
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	bottom: 225px;
	right: 200px;
}

#gorillaWidget.a-gorilla-aboutToWait{
	transform: rotate(125deg);
	-ms-transform: rotate(125deg);
	-webkit-transform: rotate(125deg);
}

#gorillaWidget.a-gorilla-waiting{
	transform: rotate(125deg);
	-ms-transform: rotate(125deg);
	-webkit-transform: rotate(125deg);
	-webkit-animation: waiting 2s infinite; /* Chrome, Safari, Opera */
    animation: gorilla-waiting 2s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes gorilla-waiting {
    0% {transform:rotate(125deg); -ms-transform: rotate(125deg); -webkit-transform: rotate(125deg); }
    50% {transform:rotate(115deg); -ms-transform: rotate(115deg); -webkit-transform: rotate(115deg);}
	100% {transform:rotate(125deg); -ms-transform: rotate(125deg); -webkit-transform: rotate(125deg);}
}
/* Standard syntax */
@keyframes gorilla-waiting {
    0% {transform:rotate(125deg); -ms-transform: rotate(125deg); -webkit-transform: rotate(125deg);}
    50% {transform:rotate(115deg); -ms-transform: rotate(115deg); -webkit-transform: rotate(115deg);}
	100% {transform:rotate(125deg); -ms-transform: rotate(125deg); -webkit-transform: rotate(125deg);}
}
#gorillaWidget.a-gorilla-incall{
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	background-color: #23BB2B;
}

#gorillaBox{
	position: fixed;
	bottom: 40px;
	right: 40px;
	height: 0px;
	width: 0px;
	border: 1px solid #4067CB;
	z-index: 999;
	transition: all 1s;
	overflow: hidden;
	background: #FFF;
	box-sizing: content-box !important;
}



#gorillaBox.a-gorilla-open{
	height: 200px;
	width: 180px;
	border: 1px solid #4067CB;
	border-radius: 20px;
	bottom: 10px;
	right: 10px;
	padding: 20px;
	/*overflow: visible;*/
}

#gorillaForm{
	width: 180px;
	/*height: 200px;*/
	opacity: 0;
	transition: 1s all;
}


#gorillaForm input#gorillaFormName, #gorillaForm select#gorillaFormService {
	background: none;
	border: 1px solid #4067CB;
	border-radius: 5px;
	padding: 5px;
	width: 180px;
	margin-top: 5px;
}

#gorillaForm input#gorillaFormTel {
	width: 180px;
	border-radius: 5px;
	border: 1px solid #4067CB;
	padding: 5px 5px 5px 48px;
	transition: box-shadow 1s ease;
}
#gorillaForm input#gorillaFormTel.a-gorilla-error{
	border: 2px solid #FF0000;
    box-shadow: 0px 0px 3px 3px #FF0000;
}
div.intl-tel-input {
	margin: 5px 0px;
}
ul.country-list {
	width: 180px;
	font-size: 11px;
	overflow-x: hidden;
}

#gorillaForm button{
	background: none;
	border: 2px solid #4067CB;
	border-radius: 5px;
	width: 150px;
	height: 30px;
	margin: 10px 15px 0px 15px;
	text-align: center;
}

#gorillaForm #gorillaLabel {
	position: absolute;
	bottom: 3px;
	left: 10px;
	right: 10px;
	text-align: center;
	font-size: 12px !important;
	font-family: verdana, arial, sans-serif;
	border-top: 1px solid #CFB11B;
	overflow: hidden;
	white-space: nowrap;
	text-transform: uppercase;
}

#gorillaForm span a{
	text-decoration: none;
	font-weight: bold;
	color: #B68400;
}

#gorillaBox.a-gorilla-open #gorillaForm{
	opacity: 1;
}

#gorillaBarTxt{
	white-space: nowrap;
	display: inline-block;
}
#gorillaBar{
	position: fixed;
    bottom: 20px;
    right: 40px;
    height: auto;

    border: 1px solid #4067CB;
    z-index: 998;
    transition: all 1s;
    overflow: hidden;
    background: #FFF;
    box-sizing: content-box !important;
    padding: 10px 30px 10px 10px;
    border-radius: 10px;
    white-space: nowrap;
}
#gorillaBar.a-gorilla-loading{
	width: 0px !important;
	padding: 10px 0px;
}
#gorillaBar.a-gorilla-open{
	width: 0px !important;
	padding: 10px 0px;
}